header {
    background-color: green;
    color: skyblue;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-left: 35px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}


.full-height {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gold;
    color: brown;
}


.full-height h1 {
    font-size: 60px;
}

.full-height p {
    font-size: 24px;
}
